.row-container {
    margin: auto;
    position: relative; 
    height: 10px; 
    width: 40px; 
}

.black-box {
    display: inline-block; 
    position: relative; 
    height: 10px; 
    width: 10px; 
    background-color: black; 
    outline: 1px solid black;
}

.white-box {
    display: inline-block; 
    position: relative; 
    height: 10px; 
    width: 10px; 
    background-color: white; 
    outline: 1px solid black;
}

.bar-container {
    margin: auto; 
    position: relative; 
    height: 100px; 
    width: 40px; 
}

.correct-bar {
    width: 10px;
    display: inline-block;
    background-color: green; 
    position: absolute; 
    bottom: 0;
    left: 0;
}

.incorrect-bar {
    width: 10px;
    display: inline-block;
    background-color: red; 
    position: absolute; 
    bottom: 0;
    right: 0;
}